<form [ngClass]="{ formStyle : true }" [formGroup]="updatedBook">

    <h2>Update your book</h2>
    <div [ngClass]="{ inputDivStyle : true }">
        <label for="title">Title</label>
        <input type="text" name='book-title' formControlName = 'Atitle'>
    </div>    

    <div [ngClass]="{ inputDivStyle : true }">
        <label for="author">Author</label>
        <input type="text" name='book-author' formControlName = 'Bauthor'>
    </div>
    
    <div [ngClass]="{ inputDivStyle : true }">
        <label for="edition">Edition</label>
        <input type="text" name='book-edition' formControlName = 'Cedition'>
    </div>
    

    <button (click)="updateBook()">Update</button>
</form>