/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Stint+Ultra+Condensed&display=swap');

html, body{
    margin: 0;
    height: 100vh;
}

app-root{
    display: block;
    grid-template-rows: max-content 1fr;
    height: 100%;
}
